[submodule "ssh-hardening"]
	path = ssh-hardening
	url = git@github.com:dev-sec/ansible-ssh-hardening.git
[submodule "os-hardening"]
	path = os-hardening
	url = git@github.com:dev-sec/ansible-os-hardening.git
